<html><head>
		<meta charset="utf-8"/>
		<meta name='viewport' content="width=device-width, initial-scale=1"/>
		<link href="../styles/structure_style_core.css" rel="stylesheet" type="text/css"/>
		<link href="../styles/structure_style_tab.css" rel="stylesheet" type="text/css"/>
		<link href="../styles/structure_style_mobile.css" rel="stylesheet" type="text/css"/>
		<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500" rel="stylesheet" type="text/css"/>
	</head>

	<body style="background: rgb(232, 248, 253) none repeat scroll 0px 0px;">
<div class="b-container">
	<div class="b-container__contacts">
		<div class="b-contacts  ">
			<div class="b-contacts__phone">
				<div class="b-phone">
					<div class="b-phone__icon"></div>
					<div class="b-phone__number"> 055-111-11-11</div>
				</div>
			</div>
			<div class="b-contacts__socials">
				<div class="b-socials">
					<div class="b-socials__item">
						<div class="b-socials__link">facebook</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="b-container__head">
		<div class="b-head">
			<div class="b-head__logo">
				<div class="b-logo">
					<div class="b-logoimage"></div>
					<div class="b-logotext">PEACE</div>
				</div>
			</div>
			<div class="b-head__menu  ">
				<ul class="b-menu">
					<li class="b-menu__item" id='HOME'>
						<a class="b-menu__link" href="#">HOME</a>
					</li>
					<li>
					
					<li class="b-menu__item" id='COMPANY'>
						<a class="b-menu__link"  href="#">COMPANY</a>
						<div class='b-menu__submenu'>	
							<ul class = 'b-menu-submenu'>
								<li class='b-menu-submenu__item'>
									<a class="b-menu-submenu__link" href="#">ABOUT</a>
								</li>
								<li class='b-menu-submenu__item'>
									<a class="b-menu-submenu__link" href="#">HISTORY</a>
								</li>
								<li class='b-menu-submenu__item'>
									<a class="b-menu-submenu__link" href="#">NEWS</a>
								</li>
							</ul>
						</div>	
					</li>
					<div class='b-menu__submenu b-menu__submenu_vertical'>
						</li>
							<ul class = 'b-menu-submenu_vertical'>
									<li class='b-menu-submenu__item'>
										<a class="b-menu-submenu__link" href="#">ITEM1</a>
									</li>
									<li class='b-menu-submenu__item'>
										<a class="b-menu-submenu__link" href="#">ITEM2</a>
									</li>
									<li class='b-menu-submenu__item'>
										<a class="b-menu-submenu__link" href="#">ITEM3</a>
									</li>
									<li class='b-menu-submenu__item'>
										<a class="b-menu-submenu__link" href="#">ITEM4</a>
									</li>
					</div>
					<li class="b-menu__item" id='SERVICES'>
						
							<a class="b-menu__link"  href="#">SERVICES</a>
							<div class='b-menu__submenu'>	
							</div>	
					
								
							
					</li>
					<li class="b-menu__item" id='NEWS'>
						<a class="b-menu__link"  href="#">NEWS</a>
						<div class='b-menu__submenu'>	
						</div>	
					</li>
					<li class="b-menu__item" id='CONTACTS'>
						<a class="b-menu__link" href="#">CONTACTS</a>
						<div class='b-menu__submenu'>
							<ul class = 'b-menu-submenu'>
									<li class='b-menu-submenu__item'>
										<a class="b-menu-submenu__link" href="/site_accounting/feedbackForm.html">GET FEEDBACK</a>
									</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="b-container__pblock">
		<div class="b-pblock__slider">
			<div class="b-slider"> 
				<div class="b-slider__slides"> 
					<div class="b-slide"> 
					</div> 
					<div class="b-slide"> 
					</div> 
					<div class="b-slide"> 
					</div> 
					<div class="b-slide"> 
					</div> 
					<div class="b-slide"> 
					</div>
				</div>	
			</div>	
		</div>
		<div class="b-pblock b-pblock_large">
			<div class="b-pblock__agenda">
				<div class="b-agenda">
					<div class="b-agenda__tagline">We provide advice when your business needs it, not just when you ask for it!</div>
					<div class="b-agenda__separator"></div>
					<div class="b-agenda__description b-agenda__description_offer">
						<div class="b-offer">
							<div class="b-offer__text">Learn the skills you'll need to promote and run a successful
business.</div>
							<div class="b-offer__button">
								<a class="b-button	A" href="#">READ MORE</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="b-container__content">
		<div class="b-content">
			<div class="b-content__info b-content__info_greeting">
				<div class="b-info">
					<div class="b-info__header">WELCOME TO OUR SITE!</div>
					<div class="b-info__content">
						<div class="b-article">
							<div class="b-article__text">We are the unique set-up, that is ready to challenge and knock out such a global problem as unemployment. Our company gladly helps those, who are ready to learn, to develop and to gain new experience. </div>
							<a class="b-article__link" href="#">More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="b-content__advantages">
				<div class="b-advantages">
					<div class='b-advantages__close'>X</div>
					<div class="b-advantages__advantage">
						<div class="b-advantage">
							<div class="b-advantage__info">
								<div class="b-info b-info_size_small">
									<div class="b-info__header b-info__header_small" href="#">COMMUNICATIONS</div>
									<div class="b-info__content">
										<div class="b-article">
											<div class="b-article__text">The best communication worldwide.</div>
										</div>
										<div class="b-article-text">
											<p>
											This program is free software; you can redistribute it and/or modify it 
											under the terms of the GNU General Public License as published by the Free 
											Software Foundation; either version 2 of the License, or (at your option) any 
											later version.
											</p>

											<p>
											This program is distributed in the hope that it will be useful, 
											but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
											FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. 
											</p>

											<p>
											You should have received a copy of the GNU General Public License along with this 
											program; if not, write to the Free Software Foundation, Inc., 675 Mass Ave, 
											Cambridge, MA 02139, USA.
											</p>
										</div>
										<div class="b-article__link"></div>
									</div>
								</div>

							</div>
							<div class="b-advantage__curtain"></div>
						</div>
					</div>
					<div class="b-advantages__advantage">
						<div class="b-advantage">
							<div class="b-advantage__info">
								<div class="b-info b-info_size_small">
									<div class="b-info__header b-info__header_small">OUR OBJECTIVE</div>
									<div class="b-info__content">
										<div class="b-article">
											<div class="b-article__text">We manage client portfolios and provide financial advice.</div>
											<div class="b-article__link"></div>
										</div>
										<div class="b-article-text">
											<p>
											This program is free software; you can redistribute it and/or modify it 
											under the terms of the GNU General Public License as published by the Free 
											Software Foundation; either version 2 of the License, or (at your option) any 
											later version.
											</p>

											<p>
											This program is distributed in the hope that it will be useful, 
											but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
											FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. 
											</p>

											<p>
											You should have received a copy of the GNU General Public License along with this 
											program; if not, write to the Free Software Foundation, Inc., 675 Mass Ave, 
											Cambridge, MA 02139, USA.
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="b-advantage__curtain"></div>
						</div>
					</div>
					<div class="b-advantages__advantage">
						<div class="b-advantage">
							<div class="b-advantage__info">
								<div class="b-info b-info_size_small">
									<div class="b-info__header b-info__header_small">PREMIER SUPPORT</div>
									<div class="b-info__content">
										<div class="b-article">
											<div class="b-article__text">Providing essential support service including 24/7</div>
											<div class="b-article__link"></div>
										</div>
										<div class="b-article-text">
											<p>
											This program is free software; you can redistribute it and/or modify it 
											under the terms of the GNU General Public License as published by the Free 
											Software Foundation; either version 2 of the License, or (at your option) any 
											later version.
											</p>

											<p>
											This program is distributed in the hope that it will be useful, 
											but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
											FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details. 
											</p>

											<p>
											You should have received a copy of the GNU General Public License along with this 
											program; if not, write to the Free Software Foundation, Inc., 675 Mass Ave, 
											Cambridge, MA 02139, USA.
											</p>
									</div>
								</div>
							</div>
							<div class="b-advantage__curtain"></div>
						</div>
					</div>
				</div>
				</div>
			</div>
	</div>
	<div class="b-container__features">
		<div class="b-features">
			<div class="b-features__shortly">
				<div class="b-pblock b-pblock_medium">
					<div class="b-pblock__agenda">
						<div class="b-agenda">
							<div class="b-agenda__tagline">UNITING BUSINESSMEN ALL</div>
							<div class="b-agenda__highlight">OVER THE WORLD </div>
							<div class="b-agenda__separator b-agenda__separator_bullet"></div>
							<div class="b-agenda__description">A wide range of global business information </div>
						</div>
					</div>
				</div>
			</div>
			<div class="b-features__mission">
				<div class="b-info	b-info_style_light">
					<div class="b-info__header">SHORTLY ABOUT US</div>
					<div class="b-info__content">
						<div class="b-image b-image_small">
						<div class="b-article">
							<div class="b-article__text">Peace is a full service business company providing successful solutions for individuals and businesses of all sizes tailored to meet their special needs. Your business is in good hands! </div>
							<div class="b-article__link">More</div>
						</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
	<div class="b-container__footer">
		<div class="b-footer">
			<div class="b-footer__policy">Peace (c) 2016 | Privacy Policy</div>
		</div>
	</div>
</div>
	

				
				
							
		<script>
		window.onbeforeunload = function(){
		return false;
		}
		</script>

	<script type="text/javascript" src='../scripts/component.js'></script>
	<script type="text/javascript" src='../scripts/topMenu.js'></script>
	<script type="text/javascript" src='../scripts/menu.js'></script>
	<script type="text/javascript" src='../scripts/jquery-2.2.4.min.js'></script>
	<script type="text/javascript" src='../scripts/error.js'></script>
	<script type="text/javascript" src='../scripts/advantages.js'></script>
	<script type="text/javascript" src='../scripts/slider.js'></script>
	
	<script>
		var 
			 menu 		= 	new b_menu('.b-menu')
			,topMenu 	= 	new b_topMenu('.body')
			,advantages = 	new b_advantages('.b-content__advantages')
			,slider 	= 	new b_slider('.b-slider__slides')
			;
	</script>
	



			
			
	
</body></html>